:root {
  --darkerBlueSaved: #ffffff;
  --darkBlueSaved: #f2f2f2;
  --blueSaved: #e5e3e1;
  --lightBlueSaved: #e52e71;
  --pinkSaved: #ff8a00;
  --textWhite: #393e46;
  --subTextWhite: #303a52;
  --filter: invert(0%);
}

.App {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
}

header.AppHeader {
  min-width: 100vw;
  padding: 20px 0;
}

.appLogoCon {
  margin: 5px 10px;
  img.yinzcamIcon {
    width: 35px;
    pointer-events: none;
  }
  img.yinzcamLogo {
    width: 80px;
    margin-left: 20px;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .yinzcamIcon {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
// .searchBar{
//   display: flex;
//   justify-content: center;

// }

.searchBar {
  margin: 0 auto;
  max-width: 300px;
  border: 1px solid rgba(172, 172, 172, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;

  input {
    color: var(--textWhite);
    padding-left: 10px;
    background-color: transparent;
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    border: 1px solid var(--pinkSaved);
  }
  button {
    position: absolute;
    padding: 0 10px;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--textWhite);
    transition: 0.5s all;
    &:hover {
      background-color: var(--pinkSaved);
      color: var(--textWhite);
    }
  }
}
.mainCon {
  border: 2px solid rgb(71, 71, 71);
  border-radius: 8px;
  width: 90vw;
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  overflow-y: hidden;
  padding: 15px;
  padding-bottom: 40px;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--darkBlueSaved);
  }

  &::-webkit-scrollbar {
    background-color: var(--darkBlueSaved);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--blueSaved);
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.801);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .modalCon {
    width: 70vw;
    max-width: 700px;
    height: 550px;
    background-color: white;
    padding: 15px;
    .modalSection {
      display: flex;
      flex-direction: row;
      .userDetail {
        text-align: left;
        max-width: 200px;
        width: 30%;
        .userAvatarIcon {
          width: 80px;
        }
      }
      .followersCon {
        margin-left: 50px;
        width: 70%;
        text-align: left;
        position: relative;
        h4 {
          margin: 10px 0 20px;
          text-align: center;
        }
        .exitBtn {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }
        .followers {
          display: flex;
          flex-wrap: wrap;
          max-height: 500px;
          overflow-y: scroll;
          .followerCon {
            font-size: 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 33%;
            min-width: 100px;
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
.modalSpinner {
  margin-top: 40%;
}
.spinnerCon {
  text-align: center;
  svg.spinner {
    margin: 0 auto;
    font-size: 24px;
  }
  p {
    margin: 5px;
    font-size: 12px;
  }
  .loading {
    display: block;
  }

  .notLoading {
    display: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .spinner {
      animation: Spinner infinite 1.5s linear;
    }
  }
  @keyframes Spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.madeWith {
  font-size: 12px;
  font-weight: 700;
  svg {
    color: rgb(207, 1, 1);
    font-size: 15px;
  }
}
