.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(48, 48, 48, 0.801);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .modalSpinner {
        margin-top: 40%;
    }
    .modalCon {
        width: 70vw;
        max-width: 700px;
        height: 550px;
        border-radius: 10px;
        background-color: white;
        position: relative;
        .exitBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        .modalSection {
            display: flex;
            flex-direction: row;
            height: 100%;
            .userDetail {
                text-align: left;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                width: 30%;
                padding: 15px;
                background-color: rgb(233, 233, 233);
                p {
                    font-size: 14px;
                    margin: 6px 0;
                }
                .userAvatarIcon {
                    width: 80px;
                }
            }

            .followersCon {
                width: 70%;
                text-align: left;
                h4 {
                    margin: 20px 0 20px;
                    text-align: center;
                }
                .followers {
                    display: flex;
                    flex-wrap: wrap;
                    max-height: 480px;
                    overflow-y: scroll;
                    .followerCon {
                        font-size: 0.75rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 33%;
                        min-width: 100px;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    p {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .modal {
        .modalCon {
            width: 95vw;
            overflow: scroll;
            .modalSection {
                flex-direction: column;
                .userDetail {
                    width: 100%;
                    border-bottom-left-radius: 0px;
                }
                .followersCon {
                    width: 100%;
                    margin-left: 0px;
                    .followers {
                    max-height: 350px;
                    .followerCon {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}
